{% extends 'base.html' %}
{% block content %}
        <script>
            function selectLoginSSO() {
                const username = document.getElementById("username-input").value;
                if (username.endsWith("canonical.com")) {
                    window.location.assign("{{ url_for(login_endpoint, provider='ubuntu', next=next) }}");
                } else {
                    window.location.assign("{{ url_for(login_endpoint, provider='ubuntu2', next=next) }}");
                }
            }
        </script>
        <label for="username-input">Email:</label>
        <input type="email" id="username-input" name="username" />
        <button id="next-button" onclick="selectLoginSSO()">Next</button>
{% endblock %}